<div class="card">
    <div class="card-item">
        <div class="card-body">
            <img  width=100% src="https://sportsshow.net/media/2019/04/_3/760x450/Most-Popular-Sports-Volleyball.jpg" alt="">
            <h1 class="text-center"> Volley Ball</h1>
            <p>Originating from America, volleyball boasts an impressive estimated global participation figure of 998 million people.With over 220 affiliated national federations registered to volleyball’s global governing body the ‘FIVB’.</p>
            <div class="btn-group border rounded ">
            <button class="btn btn-warning btn-sm border-end border btn-outline-secondary"> like it <i class="fas fa-heart" style="color: red;"></i> </button>
            </div>
        </div>    
    </div>
</div>

