<div class="card">
    <div class="card-item">
        <div class="card-body">
            <img  width=100% src="https://sportsshow.net/media/2019/04/_3/760x450/Most-Popular-Sports-Soccer.jpg" alt="">
            <h1 class="text-center"> Soccer</h1>
            <p>Few things can rival football as a spectator sport and this is also matched by the number of people who participate in the sport, be it at grassroots level, 5-a-side leagues or simply playing for fun with friends.</p>
            <div class="btn-group border rounded ">
                <button class="btn btn-warning btn-sm border-end border btn-outline-secondary"> like it <i class="fas fa-heart" style="color: red;"></i> </button>
            </div>
        </div>    
    </div>
</div>

