<div class="card">
    <div class="card-item">
        <div class="card-body">
            <img  width=100% src="https://sportsshow.net/media/2019/04/_3/760x450/Most-Popular-Sports-Tennis.jpg" alt="">
            <h1 class="text-center"> Tennis</h1>
            <p>Widely recognised as the most popular individual sport in the world, tennis is played by an estimated number of 60 million men and women around the world, according to a ranking by Topend Sports.</p>
            <div class="btn-group border rounded ">
                <button class="btn btn-warning btn-sm border-end border btn-outline-secondary"> like it <i class="fas fa-heart" style="color: red;"></i> </button>
            </div>
        </div>    
    </div>
</div>
