<div class="card">
    <div class="card-item">
        <div class="card-body">
            <img  width=100% src="https://sportsshow.net/media/2019/04/_3/760x450/Most-Popular-Sports-Basketball.jpg" alt="">
            <h1 class="text-center mt-2"> Basket Ball</h1>
            <p>The Federation of International Basketball Associations (FIBA) estimates that a minimum of 450 million people play the sport around the world, be it recreationally or through structured competitions.</p>
            <div class="btn-group border rounded ">
                <button class="btn btn-warning btn-sm border-end border btn-outline-secondary"> like it <i class="fas fa-heart" style="color: red;"></i> </button>
            </div>
        </div>    
    </div>
</div>
