
<div class="conatiner text-center bg-white">
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjMc0Iqd4SKuLn-vVJKaV-ptvibKCR-ZoLjw&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHcvonjSvElvuuN4mExQNkYDHJ_b5J2sSgkg&usqp=CAU" alt=""> -->
    <h1 class="display-1">404</h1>

    <p>The page you are searching for doesn't exist or other error occured <br>
        Go back, or head over to previous site.</p>
        <button class="btn btn-success text-white mb-4">Go Back a Page</button><br>
        <img src="https://hrcdn.net/hackerrank/assets/fourohfour-ebdc954bdb49cdc48e95a5ae35a0f0b552e03dfef8056b322e9deff7dc6efe56.png" alt="">
</div>

