

<div class="container mt-3 " style="background-color: orange;">
  <h1 class=" text-center m-5" style="font-family: 'Pacifico', cursive; font-size: 50px;color: orangered; background-color: lightblue;"><i class="fas fa-table-tennis" style="color: black;"></i>   Sports   <i class="fas fa-table-tennis" style="color: black;"></i></h1>
  <hr>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 p-4">
    <div class="col p-3">
        <app-card-one></app-card-one>
    </div>
    <div class="col p-3">
        <app-card-two></app-card-two>
    </div>
    <div class="col p-3">
        <app-card-three></app-card-three>
    </div>
    <div class="col p-3">
        <app-card-four></app-card-four>
    </div>
    <div class="col p-3">
        <app-card-five></app-card-five>
    </div>
    <div class="col p-3">
        <app-card-six></app-card-six>
    </div>
    
</div>
</div>


