
<div class="row">

    <div class="col-4">

<h5 class="display-3 text-white mt-3">PRODUCTS</h5>
<ul style="list-style-type: none;">
    <li><a href="#" class="text-decoration-none text-warning">Remote First Hiring</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Remote First Planning</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Remote First Sourcing</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Remote First Screening</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Remote First Interviewing</a></li>
    <li><a href="#" class="text-decoration-none text-warning">emote First Ranking</a></li>
</ul>
</div>
<div class="col-4">

<h5 class="display-3 text-white mt-3">SOLUTIONS</h5>
<ul style="list-style-type: none;">
    <li><a href="#" class="text-decoration-none text-warning">Remote Hiring</a></li>
    <li><a href="#" class="text-decoration-none text-warning">University Recruiting</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Diversity & Inclusion</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Virtual Career Fair</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Professional Hiring</a></li>
</ul>

</div>

<div class="col-4">
    <h5 class="display-3 text-white mt-3">CUSTOMERS</h5>
    <ul style="list-style-type: none;">
        <li><a href="#" class="text-decoration-none text-warning">All Industries</a></li>
        <li><a href="#" class="text-decoration-none text-warning">Financial Services</a></li>
        <li><a href="#" class="text-decoration-none text-warning">Technology</a></li>
        <li><a href="#" class="text-decoration-none text-warning">More</a></li>
    </ul>

</div>

</div>

<div class="row">

    <div class="col-4">

<h5 class="display-3 text-white mt-3">RESOURCES</h5>
<ul style="list-style-type: none;">
    <li><a href="#" class="text-decoration-none text-warning">Events</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Datasheets</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Guides</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Webinars</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Research</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Security</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Trust</a></li>
</ul>
</div>
<div class="col-4">

<h5 class="display-3 text-white mt-3">BLOG</h5>
<ul style="list-style-type: none;">
    <li><a href="#" class="text-decoration-none text-warning">Attract</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Assess</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Hire</a></li>
    <li><a href="#" class="text-decoration-none text-warning">Stories</a></li>
</ul>

</div>

<div class="col-4">
    <h5 class="display-3 text-white mt-3">ABOUT US</h5>
    <ul style="list-style-type: none;">
        <li><a href="#" class="text-decoration-none text-warning">Company</a></li>
        <li><a href="#" class="text-decoration-none text-warning">Careers</a></li>
        <li><a href="#" class="text-decoration-none text-warning">Our Team</a></li>
        <li><a href="#" class="text-decoration-none text-warning">Newsroom</a></li>
    </ul>

</div>

</div>