<div class="card">
    <div class="card-item">
        <div class="card-body">
            <img  width=100% src="https://sportsshow.net/media/2019/04/_3/760x450/Most-Popular-Sports-Cricket.jpg" alt="">
            <h1 class="text-center"> Cricket</h1>
            <p>The majority of participants of this sport come from Australia, India, Pakistan, South Africa, but cricket is also on the rise in other countries all over the world. The International Cricket Council (ICC) identified that an impressive 125 countries around the world play sport.</p>
            <div class="btn-group border rounded ">
                <button class="btn btn-warning btn-sm border-end border btn-outline-secondary"> like it <i class="fas fa-heart" style="color: red;"></i> </button>
            </div>
        </div>    
    </div>
</div>

