<div class="card">
    <div class="card-item">
        <div class="card-body">
            <img  width=100% src="https://sportsshow.net/media/2019/04/_3/760x450/Most-Popular-Sports-Hockey.jpg" alt="">
            <h1 class="text-center mt-2"> Hockey</h1>
            <p>This fast paced sport is played by men and women in over 100 countries on 5 continents around the world. A firm favorite at the Olympic Games, field hockey is a highly technical sport, played by 10 outfield players plus a goalkeeper.</p>
            <div class="btn-group border rounded ">
                <button class="btn btn-warning btn-sm border-end border btn-outline-secondary"> like it <i class="fas fa-heart" style="color: red;"></i> </button>
            </div>
        </div>    
    </div>
</div>

