<div class="container bg-white">
<div class="row mt-5 mb-5">
    <div class="col-3">
        <ul>
            <li id="l1">Account</li>
            <ul>
                <li><a href="/info/settings">Settings</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Password</a></li>
                <li><a href="#">Shipping Details</a></li>
                <li><a href="#">Phone</a></li>
            </ul>
            <li id="l1">Prefernces</li>
            <ul>
                <li><a href="#">Emails</a></li>
                <li><a href="#">Language</a></li>
            </ul>
        </ul>
        <a href="#" class="btn btn-success text-white mb-2">Save Changes</a>
    </div>
    <div class="col-9">
        <h4 style="font-weight: bold;" class="mt-2">Your Username</h4>
        <p style="font-weight: lighter;">(This is how users will see you on HackerRank. You have 2 changes left.)</p>
        <input type="text" name="username" id="un" placeholder="xxxxxxxxx02" class="form-control">
        <hr>
        <h4>Email Addresses</h4>
        <p style="font-weight: lighter;">We will never share your email address or display it publicly.</p>
        <span>
            <p>xxxxxxxx02@gmail.com</p>
            <p class="btn btn-info" style="margin-right: 10px;">verified</p>
            <p class="btn btn-secondary">primary</p>
        </span><br>
        <button class="btn1 mb-2">+ Add another email</button>
        <hr>
        <h4>Connected Accounts</h4>
        <p style="font-weight: lighter;">Connect your other accounts with HackerRank to share your progress and scores and find your friends</p>
        <p class="btn btn-primary"><i class="fab fa-facebook-f"></i> connect to facebook</p><br>
        <p class="btn btn-primary"><i class="fab fa-github"></i> connect to Github</p><br>
        <p class="btn btn-primary"><i class="fab fa-linkedin-in"></i> connect to Linkedin</p><br>
        <hr>
        <h4>Merge Accounts</h4>
        <p style="font-weight: lighter;">Accidentally created two accounts? This combines another account into the one you are currently logged in as.</p>
        <label for="unem">Details of the account to merge with xxxxxxxx02</label><br>
        
            <input type="text" name="username" id="" placeholder="Username">
            <input type="email" name="email" id="" placeholder="Email">
            
            <button class="btn btn-secondary text-white mt-2">Submit</button>
        
        <hr>
        <h4>Export Data</h4>
        <p style="font-weight: lighter;">Create and download an archive of your HackerRank Data.</p>
        <button class="btn2 btn-light">Create new archive</button>
        <hr>
        <h4>Delete Accounts</h4>
        <p style="font-weight: lighter;">Delete your account and all information related to your account such as your profile page, badges earned and leaderboard positions. Please be aware that all data will be permanently lost if you delete your account.</p>
        <button class="btn2 btn-light">Delete Account</button>
        <hr>
    </div>
</div>
</div>